.form__text
  = form_with model: @item, local: true do |f|
    %p
      商品名
      = f.text_field :name, size: :"45"
    %p
      上代
      = f.text_field :price, size: :"45"
    %p
      下代
      = f.text_field :bugdet, size: :"45"
    %p
      取扱色
      = f.text_field :color, size: :"45"
    %p
      放映日
      = f.date_field :on_air, size: :"50"
    %p.image
      商品画像：
      = f.label "商品画像をアップロード"
      = f.file_field :image
    %p.video
      放映内容：
      = f.file_field :video
    %p
      ジャンル選択:
      = f.select :category_id, Category.all.map { |category| [category.name, category.id] }
    .form__text__submit  
      %p
        キャンコメなど：
        = f.text_area :comment, rows: :"6",cols: :"50"
      %p
        = f.submit value:"登録する" ,class:"register"
