= form_with model: @item, id:"item_new", local: true do |f|
  .field
    = f.label "*商品名"
    %br/
    = f.text_field :name, placeholder:"商品名を入力して下さい"
    = render partial: 'shared/error_messages', locals: {user: @item, column: "name"}
  .field
    = f.label "*上代"
    %br/
    = f.text_field :price, placeholder:"上代を入力して下さい"
    = render partial: 'shared/error_messages', locals: {user: @item, column: "price"}
  .field
    = f.label "*下代"
    %br/
    = f.text_field :budget, placeholder:"下代を入力して下さい"
    = render partial: 'shared/error_messages', locals: {user: @item, column: "budget"}
  .field
    = f.label "*取扱い色"
    %br/
    = f.text_field :color, placeholder:"ブラック・ホワイトなど"
    = render partial: 'shared/error_messages', locals: {user: @item, column: "color"}
  .field
    = f.label "*放映日"
    %br/
    = f.date_field :on_air
    = render partial: 'shared/error_messages', locals: {user: @item, column: "on_air"}
  .field_image
    = f.label "商品画像"
    %br/
    .field_images
      = f.fields_for :images, @item.images.build do |i|
        .field_upload
          = i.label :image, for: "image1", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][0][image]", multipart: true,class: "file_field1", id:"image1"
            画像①
          .remove_btn1
            削除
        .field_upload
          = i.label :image, for: "image2", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][1][image]", multipart: true, class: "file_field2", id:"image2"
            画像②
          .remove_btn2
            削除
        .field_upload
          = i.label :image, for: "image3", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][2]][image]", multipart: true, class: "file_field3", id:"image3"
            画像③
          .remove_btn3
            削除
        .field_upload
          = i.label :image, for: "image4", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][3][image]", multipart: true, class: "file_field4", id:"image4"
            画像④
          .remove_btn4
            削除
        .field_upload
          = i.label :image, for: "image5", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][4][image]", multipart: true, class: "file_field5", id:"image5"
            画像⑤
          .remove_btn5
            削除
        .field_upload
          = i.label :image, for: "image6", id: "photo"  do
            = i.file_field :image, name: "item[images_attributes][5][image]", multipart: true, class: "file_field6", id:"image6"
            画像⑥
          .remove_btn6
            削除
  .field
    = f.label "放映内容"
    %br/
    = f.file_field :video
  .field
    = f.label "*ジャンル選択"
    %br/
    = f.select :category, Item.categories.keys, {prompt: "---"}
    = render partial: 'shared/error_messages', locals: {user: @item, column: "category"}
  .field
    = f.label "キャンコメなど"
    %br/
    = f.text_area :discription,placeholoder:"変更予定、未定な部分、プレビュー時の注意点などあれば追記して下さい" ,rows: :"6",cols: :"50"
  .actions
    = f.submit value:"登録する" ,class:"item_register"

