.edit
  %h3.text 右のフォームから編集して下さい　→
  担当者:
  = current_user.nickname
  .edit__box
    .edit__box__image
      %p.image
        - if @item.image.file.nil?
          = image_tag "/uploads/noimage.png", width:"220",height: "220" 
        - else
          = image_tag @item.image.thumb.url, alt: "商品画像です"
      %p
        - if @item.video.file.nil?
          = image_tag "/uploads/novideo.jpg", width:"500",height: "300" 
        - else
          = video_tag @item.video_url.to_s, loop: true, controls: true, width: 650
    .edit__box__text
      = form_with model: @item, local: true do |f|
        %p
          商品名:
          = f.text_field :name, size: :"45"
        %p
          上代：
          = f.text_field :price, size: :"45"
        %p
          下代：
          = f.text_field :bugdet, size: :"45"
        %p
          取扱色：
          = f.text_field :color, size: :"45"
        %p
          放映日:
          = f.date_select :on_air, size: :"45"
        %p.image
          商品画像：
          = f.label "商品画像をアップロード"
          = f.file_field :image
        %p.video
          放映内容：
          = f.file_field :video
        %p
          ジャンル選択:
          = f.select :category_id, Category.all.map { |category| [category.genre, category.id] }
        .edit__box__text__submit
          %p
            キャンコメなど：
            = f.text_area :comment, rows: :"6",cols: :"50"
          %p
            = f.submit value:"更新する" ,class:"register"

