.edit_item
  %h3.text 右のフォームから編集して下さい　→
  担当者:
  = current_user.username
  .edit_item__box
    .edit_item__box__image
      %p.image
        - if @item.image.file.nil?
          = image_tag "/uploads/noimage.png", width:"220",height: "220" 
        - else
          = image_tag @item.image.thumb.url, alt: "商品画像です"
      %p.movie
        - if @item.video.file.nil?
          = image_tag "/uploads/novideo.jpg", width:"500",height: "300" 
        - else
          = video_tag @item.video_url.to_s, loop: true, controls: true, width: 650
    .edit_item__box__text
      = render partial: "form" 