.items
  = form_with url: search_items_path, local: true ,method: :get, class: "items__search" do |f| 
    = f.text_field :keyword ,placeholder:"商品名を入力して下さい"
    = f.submit '検索する'
    - @items.each do |item| 
      .items__search--info
        %p.image
          = image_tag item.image.thumb.url, alt: "商品画像です"
        %p.name
          【担当者】
          = item.user.username
        %p
          【商品名】
          = item.name
        %p
          【放映日】
          = item.on_air.strftime("%Y年 %m月 %d日")
        .items--info__show
          = link_to item_path(item) do
            詳細ページ
