
.show
  .show__image
    %p.image
      - if @item.image.file.nil?
        = image_tag "/uploads/noimage.png", width:"220",height: "220" 
      - else
        = image_tag @item.image.thumb.url, alt: "商品画像です"
    .show__image__box
    %p.name
      【担当者】
      = @item.user.nickname
    %p
      【ジャンル】
      = @item.category
    %p
      【商品名】
      = @item.name
    %p
      【上代】
      = converting_to_jpy(@item.price) 
    %p
      【下代】
      = converting_to_jpy(@item.bugdet) 
    %p
      【取り扱い色】
      = @item.color
    %p
      【放映日】
      = @item.on_air.strftime("%Y年 %m月 %d日")
    .show__image__edit
      - if user_signed_in? && current_user.id == @item.user_id
        %h4
          = link_to edit_item_path(@item) do
            =  icon "fa","edit",class:"edi"
        %h4
          = link_to item_path(@item),method: :delete do
            = icon "fa","trash-alt",class:"delete"
  .show__text
    %p<
      【キャンコメなど】
      %h4.comment
        = @item.discription
  .show__video
    【以下はプレビューになります。適宜確認して下さい】
    %p
    - if @item.video.file.nil?
      = image_tag "/uploads/novideo.jpg", width:"670",height: "350" 
    - else
      = video_tag @item.video_url.to_s, loop: true, controls: true, width: 650
   

