
.show
  .show__image
    %p.image
      - if @item.image.file.nil?
        = image_tag "/uploads/noimage.png", width:"220",height: "220" 
      - else
        = image_tag @item.image.thumb.url, alt: "商品画像です"
      
    %p.name
      【担当者】
      = @item.user.username
    %p
      【ジャンル】
      = @item.category.genre
    %p
      【商品名】
      = @item.name
    %p
      【上代】
      = converting_to_jpy(@item.price) 
    %p
      【下代】
      = converting_to_jpy(@item.bugdet) 
    %p
      【取り扱い色】
      = @item.color
    %p
      【放映日】
      = @item.on_air.strftime("%Y年 %m月 %d日")
    - if user_signed_in? && current_user.id == @item.user_id
      %h4.edit
        = link_to edit_item_path(@item) do
          編集する
      %h4.delete
        = link_to item_path(@item),method: :delete do
          削除する
  .show__text
    %p<
      【キャンコメなど】
      %h4.comment
        = @item.comment
  .show__video
    【以下はプレビューになります。適宜確認して下さい】
    %p
    - if @item.video.file.nil?
      = image_tag "/uploads/novideo.jpg", width:"670",height: "350" 
    - else
      = video_tag @item.video_url.to_s, loop: true, controls: true, width: 650
   

