!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 放映商品管理
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    .header__user
      %h
      - if user_signed_in?
        %h1.user 担当者名:
        %h1.name 
          = current_user.username
        = link_to edit_user_registration_path, class:"none" do
          = icon "fa","user-edit",class:"edit"
        = link_to destroy_user_session_path,method: :delete do
          = icon 'fa', "sign-out-alt" ,class:"logout"
      - else 
        = link_to "新規登録", new_regisration_path 
        = link_to "ログイン", new_user_session_path 
    .header__button
      .header__button__create
        =link_to items_path ,class:"header__button__create--show" do
          商品一覧へ
        =link_to new_item_path ,class:"header__button__create--new" do
          商品登録へ
      .header__button__show
        =link_to "/categories/1",class:"header__button__show--biyou" do
          = icon "fa","female"
        =link_to "/categories/2",class:"header__button__show--fashion" do
          = icon "fa","tshirt"
        =link_to "/categories/3",class:"header__button__show--living" do
          = icon "fab","resolving"
  = yield
