!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 放映商品管理
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .header
    - if user_signed_in?
      .header__user
        .header__user__name
          %h1.user 担当者名:
        %h2.name 
          = current_user.username
        .header__user__image
          = link_to  user_path(current_user) ,class:"none" do
            - if current_user.image.file.nil?
              = image_tag "/images/unknown.png",class:"userimage"
            - else
              = image_tag current_user.image.url,class:"userimage"
          = link_to "/regisrations/#{current_user.id}/edit", class:"none" do
            = icon "fa","user-edit",class:"edit"
          = link_to destroy_user_session_path,class:"none",method: :delete do
            = icon 'fa', "sign-out-alt" ,class:"logout"
    .header__button
      .header__button__create
        =link_to items_path ,class:"header__button__create--show" do
          商品一覧へ
        =link_to new_item_path ,class:"header__button__create--new" do
          商品登録へ
      .header__button__show
        =link_to category_1_categories_path,class:"header__button__show--biyou" do
          = icon "fa","female"
        =link_to category_2_categories_path,class:"header__button__show--fashion" do
          = icon "fa","tshirt"
        =link_to category_3_categories_path,class:"header__button__show--living" do
          = icon "fab","resolving"
  = yield
