.signin
  .signin__text
    %h1 新規登録画面 (*項目は必須です)
    = form_for @user, url: regisrations_path, method: :post do |f|
      .field
        = f.label "*お名前"
        %br
        = f.text_field :username, placeholder: "お名前を入力して下さい"
        = render partial: 'shared/error_messages', locals: {user: @user, column: "username"}
      .field
        = f.label "*メールアドレス"
        %br/
        = f.email_field :email, autocomplete: "email",placeholder: "メールアドレスを入力して下さい"
        = render partial: 'shared/error_messages', locals: {user: @user, column: "email"}
      .field
        = f.label "*パスワード"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上で入力して下さい)
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力して下さい"
        = render partial: 'shared/error_messages', locals: {user: @user, column: "password"}
      .field
        = f.label "*パスワード確認"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードをもう一度入力して下さい"
        = render partial: 'shared/error_messages', locals: {user: @user, column: "password_confirmation"}
      .field
        = f.label "*所属部署"
        %br/
        = f.select :department, User.departments.keys, {prompt: "---"}
        = render partial: 'shared/error_messages', locals: {user: @user, column: "department"}
      .field
        = f.label "*入社日"
        %br/
        = f.date_field :start_day
        = render partial: 'shared/error_messages', locals: {user: @user, column: "start_day"}
      .field
        = f.label "*内線番号"
        %br/
        = f.text_field :number
        = render partial: 'shared/error_messages', locals: {user: @user, column: "number"}
      .field
        = f.label "役職"
        %br/
        = f.text_field :post,placeholder: "MD,販売推進,営業など"
      .field
        = f.label "プロフィール画像"
        %br/
        = f.file_field :image
      .field
        = f.label "連絡先"
        %br/
        = f.text_field :contact,placeholder: "公開してもいい連絡先を入力して下さい"
      .field
        = f.label "自己紹介"
        %br/
        = f.text_area :introduction, rows:"6",cols: :"50",placeholder: "自由記入欄です"
      .actions
        = f.submit "新規登録する",class:"singup_button"




